{template 'common/header'}
<form method="post" action="" enctype="multipart/form-data">
    <div class="form-group">
        <input id="thefile" name="thefile" type="file" style="display:none">
        <div class="input-append">
            <div class="col-xs-4">
                <input id="file_name" class="form-control" type="text" style="height:30px;">
            </div>
            <a class="btn btn-primary" onclick="$('input[id=thefile]').click();">浏览文件</a>
        </div>
    </div>
    <input type="submit" class="btn btn-success" name="sub" value="立即上传">
</form>

<script type="text/javascript">
    $('input[id=thefile]').change(function() {
        $('#file_name').val($(this).val());
    });
</script>
{template 'common/footer'}